* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

/* login and register page css */

.login-page-box {
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
}

.login-container input {
    width: 100%;
    margin: 10px auto;
    padding: 10px 0;
}

.radio-btns {
    width: 50%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}
.login-container .radio-btns input{
    width: auto;
}

#log-btn {
    width: 50%;
    margin: 0 auto;
    padding: 10px 0;
}

.pass-warning-box {
    background-color: rgb(223, 135, 135);
    margin: 10px 0;
    font-size: 1.2em;
}

.pass-warning-box p {
    display: none;
}

.invalid {
    background-color: rgb(223, 135, 135);
    margin: 10px 0;
    font-size: 1.2em;
}

.invalid p {
    display: none;
}

.register-prompt {
    margin: 10px auto;
    padding: 10px 0;
}

.register-prompt a {
    color: blue;
}

/* register page */
.register-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 30px;
    margin: 0 auto;
}

.register-container input {
    width: 100%;
    margin: 10px auto;
    padding: 10px 0;
}

.register-container .radio-btns input {
    width: auto;
}

/* employee */

tr:nth-child(even) {
    background-color: #dddddd;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.requests img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 30px;
    cursor: pointer;
}

.add-books {
    width: 60%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-books label {
    margin: 10px 0;
}

.add-books input {
    padding: 10px 0;
    display: block;
}

.requests {
    text-align: center;
}

#approve-requests {
    margin: 20px;
}
#received-book-by-employee{
    width: 40%;
    margin: 30px auto;
    text-align: center;

}
#received-book-input{
    display: block;
    margin-bottom: 10px;
    padding: 20px;
    margin: 10px auto;
}
/* search client books in emplyoee page */
.search-client {
    width: 40%;
    margin: 40px auto;
    text-align: center;
    position: relative;
}

.search-client div {
    font-weight: bold;
    margin-bottom: 10px;
}

#search-client-input {
    padding: 10px;
}

#submit-search-client {
    display: block;
    margin: 20px auto;
}

.client-search-results {
    position: absolute;
    width: 195px;
    background-color: rgb(223, 135, 135);
    left: 54%;
    top: 54%;
    transform: translate(-50%, 50%);
    visibility: hidden;
}

/* client */
.requests_client table {
    max-height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
    margin: 20px;
}

.requests_client img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 30px;
    cursor: pointer;
}

.search-book {
    margin: 20px;
    position: relative;
}

.search-book input {
    padding: 20px;
    border: 1px black solid;
}

.search-info {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    background-color: #dddddd;
}

.main {
    position: relative;
}

#orders {
    width: 300px;
    min-height: 500px;
    position: absolute;
    top: 0;
    right: 0;
}

#orders img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 30px;
    cursor: pointer;
}

#orders div {
    margin: 10px 0;
    background-color: #dddddd;
}

.order-box {
    display: block;
}

#book-inf {
    display: flex;
    justify-content: space-between;
    background-color: #dddddd;
    flex-direction: column;
}

#waiting-requests {
    margin: 20px auto;
    border: 1px solid black;
    width: 30%;
}

#waiting-requests table {
    width: 100%;
    margin: 0;
    
}

#waiting-requests{
    text-align: center;
    font-weight: bold;

}

#section-name {
    width: 160px;
    height: 16px;
}
.not-available{
    color: red;
}
#log-out-btn{
    padding: 10px 30px;
    margin: 30px;
    cursor: pointer;
}
.reserved-books{
    width: 30%;
    margin: 0 auto;
    border: 1px solid black;
}
.reserved-book-table{
    width: 100%;
    margin: 0 !important;
    
}

.reserved-books{
    text-align: center;
    font-weight: bold;

}